{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "ALLOWED_EMAILS": "146099412+samoletovs@users.noreply.github.com",
    "AAD_CLIENT_ID": "set-in-azure",
    "AAD_CLIENT_SECRET": "set-in-azure"
  }
}
